version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - NODE_ENV=development
      - PORT=5000
    volumes:
      - ./backend:/
      - /app/node_modules
    restart: unless-stopped
